body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  width: 100%;
}

nav ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
}

nav ul li {
  margin: 10px;
}

.hero {
  display: flex;
  justify-content: center;
  height: 80vh;
}

.hero img {
  width: 100%;
}

.article {
  display: flex;
}
